.bitcoin {
  background-color: rgb(255, 172, 100);
  width: 33%;
  margin: auto;
  padding: 25px;
}

.background_btc {
  width: 100%;
  background-image: url(images/bitcoinLogoWallpaper.png);
  margin: auto;
}

.ethereum {
  background-color: rgb(6, 236, 160);
  width: 33%;
  margin: auto;
  padding: 25px;
}

.background_eth {
  width: 100%;
  background-image: url(images/EthereumWallpaper.jpg);
  margin: auto;
}

.dogecoin {
  background-color: rgb(255, 228, 119);
  width: 33%;
  margin: auto;
  padding: 25px;
}

.background_doge {
  width: 100%;
  background-image: url(images/DogecoinWallpaper.jpg);
  margin: auto;
}

.footer {
  width: 100%;
  background-color: rgb(213, 215, 238);
  text-align: left;
}

.header {
  width: 100%;
  background-color: rgb(213, 215, 238);
  text-align: left;
}

.body {
  width: 50%;
  text-align: center;
  margin: auto;
  background-color: cornsilk;
  position: relative;
  bottom: 10px;
  border: 2px solid black;
}

.raw_data {
  margin: auto;
  width: 50%;
  text-align: center;
  background-color: white;
}

.legend {
  margin-left: 10px;
  text-align: left;
}
